<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo right">davelindon-autocomplete-gcp</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                </ul>
            </div>
        </nav>
        <div class="container">
            <h3>Search the best buy Catalogue</h3>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">textsms</i>
                            <input type="text" id="autocomplete-input" class="autocomplete">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>
    
    <script type="text/javascript">
    $(function () {
    var getData = function (request, response) {
    $.getJSON(
    "./query?q=" + request.term,
    function (data) {
    response(data);
    });
    };
    
    var selectItem = function (event, ui) {
    $("#autocomplete-input").val(ui.item.value);
    return false;
    }
    
    $("#autocomplete-input").autocomplete({
    source: getData,
    select: selectItem,
    minLength: 2,
    change: function() {
    $("#autocomplete-input").val("").css("display", 2);
    }
    });
    });
    </script>
</html>